$pryColor: #f5f5f5;
$secColor: #ffffff;
$textColor: #838282;
$navbarHeadingtextColor: #323131;
$readMoreText: #b845ff;
$contactusTextColor: #000000;

.pryColor {
  background-color: $pryColor;
}

.secColor {
  color: $secColor;
}

.textColor {
  color: $textColor;
}

.readMoreText {
  color: $readMoreText;
}

.navbarHeadingtextColor {
  color: $navbarHeadingtextColor;
}

.contactusTextColor {
  color: $contactusTextColor;
}
