@use "../generalstyles/colors.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");

$companyName: "Vast Shadow", cursive;

.logofontfamily {
  font-family: $companyName !important;
  text-decoration: none !important;
}
