@use "../generalstyles/colors.module.scss" as *;

.contactUsDesktopbg {
  background-image: url(../../public/images/contactUsDesktopbg.png);
  background-size: cover;
  height: 855px;
  width: 100%;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.contactusCard {
  width: 181px;
}
// @media (max-width: 767px) {
//   .contactUsDesktopbg {
//     display: none;
//   }
// }

.contactUsMobilebg {
  background-image: url(../../public/images/contactUsMobilebg.png);
  background-size: cover;
  height: 900px;
  width: 100%;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
// @media (min-width: 768px) and (max-width: 1800px) {
//   .contactUsMobilebg {
//     display: none;
//   }
// }
